ci:
    autofix_commit_msg: 'chore: auto fixes from pre-commit hooks'
    autoupdate_commit_msg: 'chore: pre-commit automatic update'
    autoupdate_schedule: weekly


repos:

- repo: https://github.com/pre-commit-ci/pre-commit-ci-config
  rev: v1.6.1
  hooks:
  -   id: check-pre-commit-ci-config

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.2
  hooks:
  - id: add-license-headers
    args:
    - --start_year=2025

- repo: https://github.com/psf/black
  rev: 25.1.0  # IF VERSION CHANGES --> MODIFY "blacken-docs" MANUALLY AS WELL!!
  hooks:
  - id: black

- repo: https://github.com/adamchainz/blacken-docs
  rev: 1.19.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==24.10.0]

- repo: https://github.com/pycqa/isort
  rev: 6.0.1
  hooks:
  - id: isort

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies: [flake8-pyproject]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: check-yaml
  - id: trailing-whitespace
  - id: check-added-large-files

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.33.1
  hooks:
    - id: check-github-workflows